p{
    word-spacing:0.01em; padding:8px; font-color:#235789; font-family:"Arial";font-size:1.5em
}
#links{
    font-color:#235789; font-size:1.5em; padding:8px
}
table{
    Padding:0.1rem
}
caption{
    padding:1rem;
}
body{
    background-color:#FDFFFC;color:#235789
}